<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="appointment">
        <div hx-get="/patient/load/appointment"
             hx-include="input[type='hidden']"
             hx-trigger="every 60s"
        >
            <div class="d-flex align-items-center text-center justify-content-center">
                <div class="row">
                    <div class="col-sm-12">
                        <span style="font-family: Poppins, serif;font-size: 0.8em;">Thank you for checking in</span>
                    </div>
                    <div class="col-sm-12">
                        <span style="font-family: Poppins, serif;font-weight: bold;" th:text="${appointment.patient.firstName} + ' ' + ${appointment.patient.lastName}"></span>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center text-center justify-content-center m-5" style="background-color: #494462; border-radius: 0.625rem;">
                <div class="row">
                    <div class="col-sm-12">
                        <span style="color: #FFF; font-family: Poppins, serif;font-size: 0.8em;">Your Ticket Number</span>
                    </div>
                    <div class="col-sm-12 mt-3 mb-3">
                        <span class="numberCircle"><span th:text="${appointment.turnNumber}"></span></span>
                    </div>
                    <div class="col-sm-12">
                        <img th:src="@{/images/line.png}" />
                    </div>
                    <div class="col-sm-12 mt-3 mb-1">
                        <i class="fa-regular fa-clock" style="color: #ffffff;"></i>
                        <span style="color: #FFF; font-family: Poppins, serif;font-size: 0.8em;">Waiting Time</span>
                    </div>
                    <div class="col-sm-12 mb-4">
                        <span style="color: #FFF; font-family: Poppins, serif;font-weight: bolder; color: #C5A470;" th:text="${waitingTime} + ' Minutes'"></span>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center text-center justify-content-center">
                <div class="row">
                    <div class="col-sm-12">
                        <span style="font-family: Poppins, serif;font-size: 0.8em;">Number of People ahead of you:</span>
                    </div>
                    <div class="col-sm-12">
                        <span style="font-family: Poppins, serif;font-size: 2em;color: #494462;" th:text="${appointment.turnsToAwait}"></span>
                    </div>
                    <div class="col-sm-6 offset-sm-6 mt-3">
                        <input id="take_turn" class="btn btn-primary" type="button"
                               value="Cancel CHECK-IN" style="background-color: #C5A470; height: 60px; width: 100%;"
                               hx-delete="/patient/cancel/appointment"
                               hx-swap="none"
                               hx-confirm="Are you sure about cancelling appointment?"
                        />
                    </div>
                </div>
            </div>
            <input type="hidden" name="id" th:value="${appointment.id}">
        </div>
    </th:block>
</body>
