<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
</head>
<body>
    <th:block th:fragment="apponintment-done">
	    <main >
            <div class="grid place-content-center mt-12">
                <img th:src="@{/img/logo1.svg}" />
            </div>
            <div class="mt-8 px-6">
                <div class="grid place-content-center mx-3 rounded-xl" style="background-color: #494462;color: #FFF;text-align: center;font-family: Poppins;font-size: 1.125rem;font-style: normal;font-weight: 400;line-height: 1.625rem;letter-spacing: -0.01875rem;">
                    <div class="border-2 mx-3 mb-5 mt-8 rounded-lg" style="padding: 107px;border-color: #C5A470;">					
                        <p class="m-auto text-2xl" th:text="#{done.title}">Thank You!</p>						
                        <br/>
                    </div>
                </div>
            </div>
        </main>
        <footer class="fixed bottom-0 left-0 z-20 w-full">
            <div class="grid grid-cols-3 place-content-center">
                <div style="background-color: #494462;"
                     class="lang_icons p-4 text-white flex justify-center capitalize"
                     id="en_lang"
                     hx-get="/patient/done?language=en"
                     hx-target="#main_container"
                     hx-trigger="click"
                     th:classappend="${language == 'en'} ? 'selected' : ''"
                >
                    <img th:src="@{/img/flag_united_kingdom.svg}">&nbsp;&nbsp;English</img>
                </div>
                <div style="background-color: #494462;"
                     class="lang_icons p-4 text-white flex justify-center capitalize"
                     id="fr_lang"
                     hx-get="/patient/done?language=fr"
                     hx-target="#main_container"
                     hx-trigger="click"
                     th:classappend="${language == 'fr'} ? 'selected' : ''"
                >
                    <img th:src="@{/img/flag_france.svg}">&nbsp;&nbsp;French</img>
                </div>
                <div style="background-color: #494462;"
                     class="lang_icons p-4 text-white flex justify-center capitalize"
                     id="fa_lang"
                     hx-get="/patient/done?language=fa"
                     hx-target="#main_container"
                     hx-trigger="click"
                     th:classappend="${language == 'fa'} ? 'selected' : ''"
                >
                    <img th:src="@{/img/flag_iran.svg}">&nbsp;&nbsp;Persian</img>
                </div>
            </div>
        </footer>
    </th:block>
</body>
</html>