<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Appointment Info</title>
</head>
<body>
    <th:block th:fragment="appointment-info">
        <main>
            <div class="grid place-content-center mt-12">
                <img th:src="@{/img/logo1.svg}" />
            </div>
            <div class="grid place-content-center mt-5">
            <span th:text="#{checkin.thanks}" style="color: #323232;text-align: center;font-family: Poppins;font-size: 1.25rem;font-style: normal;font-weight: 400;line-height: 1.625rem;letter-spacing: -0.01875rem;">
                Thank you for checking in
            </span>
            </div>
            <div class="grid place-content-center mt-3 mb-6">
            <span   th:text="${appointment.firstName} + ' ' + ${appointment.lastName}"
                    style="color: #494462;text-align: center;font-family: Poppins;font-size: 1.25rem;font-style: normal;font-weight: 600;line-height: 1.625rem;letter-spacing: -0.01875rem;">
                Raya Sa’afi
            </span>
            </div>
            <div class="mt-4 px-6">
                <div class="grid place-content-center mx-3 rounded-xl" style="background-color: #494462;color: #FFF;text-align: center;font-family: Poppins;font-size: 1.125rem;font-style: normal;font-weight: 400;line-height: 1.625rem;letter-spacing: -0.01875rem;">
                <span class="mt-3" th:text="#{your.ticket.number}">
                    Your Ticket Number
                </span>
                    <div class="grid place-content-center text-white mt-4 mb-8" style="border-color: #C5A470;">
                        <span class="numberCircle p-4"><span th:text="${appointment.turnNumber}">234</span></span>
                    </div>
                    <div class="grid place-content-center mt-8">
                        <span th:text="#{waiting.time}">Approximate Waiting Time:</span>
                    </div>
                    <div class="grid place-content-center mb-6">
                        <div class="flex text-white">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2C17.52 2 22 6.48 22 12Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M15.7099 15.1798L12.6099 13.3298C12.0699 13.0098 11.6299 12.2398 11.6299 11.6098V7.50977" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <span class="text-xl font-bold" style="color: #C5A470;" th:text="${appointment.time}">08:40</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="grid place-content-center mt-8">
                <span th:text="#{num.of.people}" class="text-xl" style="color: #494462;">Number of People ahead of you:</span>
                <div class="grid place-content-center"><span th:text="${appointment.turnsToAwait}" class="text-4xl font-bold" style="color: #494462;">25</span></div>
            </div>
            <div class="grid place-content-center mt-4" >
                <input type="submit" th:value="#{cancel.check.in}" class="text-white py-2 px-4 rounded" value="Cancel CHECK-IN"
                       hx-delete="/patient/cancel/appointment"
                       hx-include="input[type='hidden']"
                       hx-swap="none"
                       th:attr="hx-confirm=#{cancel.confirm.message}" hx-confirm="Are you sure about cancelling appointment?"
                />
            </div>
            <input id="appointmentId" type="hidden" name="id" th:value="${appointment.id}">
            <div
                    hx-get="/patient/load/appointment"
                    hx-include="input[type='hidden']"
                    hx-trigger="every 10s"
                    hx-target="#main_container"
            ></div>
        </main>
        <footer class="fixed bottom-0 left-0 z-20 w-full">
            <div class="grid grid-cols-3 place-content-center">
                <div style="background-color: #494462;"
                     class="lang_icons p-4 text-white flex justify-center capitalize"
                     id="en_lang"
                     hx-get="/patient/appointment/info?language=en"
                     hx-target="#main_container"
                     hx-trigger="click"
                     hx-include="#appointmentId"
                     th:classappend="${language == 'en' ? 'selected' : ''}"
                >
                    <img th:src="@{/img/flag_united_kingdom.svg}">&nbsp;&nbsp;English</img>
                </div>
                <div style="background-color: #494462;"
                     class="lang_icons p-4 text-white flex justify-center capitalize"
                     id="fr_lang"
                     hx-get="/patient/appointment/info?language=fr"
                     hx-target="#main_container"
                     hx-trigger="click"
                     hx-include="#appointmentId"
                     th:classappend="${language == 'fr' ? 'selected' : ''}"
                >
                    <img th:src="@{/img/flag_france.svg}">&nbsp;&nbsp;French</img>
                </div>
                <div style="background-color: #494462;"
                     class="lang_icons p-4 text-white flex justify-center capitalize"
                     id="fa_lang"
                     hx-get="/patient/appointment/info?language=fa"
                     hx-target="#main_container"
                     hx-trigger="click"
                     hx-include="#appointmentId"
                     th:classappend="${language == 'fa' ? 'selected' : ''}"
                >
                    <img th:src="@{/img/flag_iran.svg}">&nbsp;&nbsp;Persian</img>
                </div>
            </div>
        </footer>
    </th:block>
</body>
</html>