<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Dr.Pak clinic</title>    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://zeptojs.com/zepto.min.js"></script>
    <script th:src="@{/js/mobiscroll.zepto.js}"></script>
    <script th:src="@{/js/mobiscroll.core.js}"></script>
    <script th:src="@{/js/mobiscroll.frame.js}"></script>
    <script th:src="@{/js/mobiscroll.scroller.js}"></script>

    <script th:src="@{/js/mobiscroll.util.datetime.js}"></script>
    <script th:src="@{/js/mobiscroll.datetimebase.js}"></script>
    <script th:src="@{/js/mobiscroll.datetime.js}"></script>
    <script th:src="@{/js/i18n/mobiscroll.i18n.fr.js}"></script>

    <link th:href="@{/css/mobiscroll.animation.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/mobiscroll.icons.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/mobiscroll.frame.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/mobiscroll.scroller.css}" rel="stylesheet" type="text/css" />

    <script>
        function reload(locationAddr) {
            location = locationAddr
        }
    </script>
</head>
<body class="min-h-screen bg-no-repeat bg-cover" >
    <section id="main_container">
        <main>
            <div class="grid place-content-center mt-12">
                <img th:src="@{/img/logo1.svg}" />
            </div>
            <div class="grid place-content-center mt-2">
                <span class="zenFont">Dr.alireza pak</span>
            </div>
            <div class="grid place-content-center bio">
                <span>Doctor of Medicine and Science</span>
            </div>
            <div class="grid place-content-center bio ">
                <img style="border-color: #494462;" class="border-2 rounded-full mt-4" th:src="@{/img/drpak.svg}">
            </div>
            <div class="grid place-content-center mt-4 welcome">
                <span th:text="#{greeting}">Welcome to Dr Pak Check-in</span>
            </div>
            <div class="grid place-content-center">
                <span class="text-center" th:text="#{please.start}">Press start to get an emergency appointment</span>
            </div>
            <div class="grid place-content-center">
                <input th:value="#{start.button.text}" type="button" class="text-white font-bold py-2 px-4 mt-4 rounded start-button"
                       hx-get="/patient/form"
                       hx-ext="json-enc"
                       hx-include="#language"
                       hx-target="#main_container"
                />
                <input type="hidden" id="language" name="language" th:value="${language}">
            </div>
        </main>
        <footer class="fixed bottom-0 left-0 z-20 w-full">
            <div class="grid grid-cols-3 place-content-center">
                <div style="background-color: #494462;"
                     class="lang_icons p-4 text-white flex justify-center capitalize"
                     id="en_lang"
                     onclick="reload('/patient/index?language=en')"
                     th:classappend="${language == 'en'} ? 'selected' : ''"
                >
                    <img th:src="@{/img/flag_united_kingdom.svg}">&nbsp;&nbsp;English</img>
                </div>
                <div style="background-color: #494462;"
                     class="lang_icons p-4 text-white flex justify-center capitalize"
                     id="fr_lang"
                     onclick="reload('/patient/index?language=fr')"
                     th:classappend="${language == 'fr'} ? 'selected' : ''"
                >
                    <img th:src="@{/img/flag_france.svg}">&nbsp;&nbsp;French</img>
                </div>
                <div style="background-color: #494462;"
                     class="lang_icons p-4 text-white flex justify-center capitalize"
                     id="fa_lang"
                     onclick="reload('/patient/index?language=fa')"
                     th:classappend="${language == 'fa'} ? 'selected' : ''"
                >
                    <img th:src="@{/img/flag_iran.svg}">&nbsp;&nbsp;Persian</img>
                </div>
            </div>
        </footer>
    </section>
</body>
</html>