<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{patient/layout.html}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Office Currently Closed</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="d-flex align-items-center justify-content-center m-5" style="background-color: #494462;">
            <p class="m-3 p-3" style="font-family: Poppins, serif;color: #FFF;border: 2px solid #C5A470;">
                Sorry! Dr PAK's office hours are currently closed. Please return during our designated hours for
                appointment requests. Thank you!
            </p>
        </div>
    </section>
</body>
</html>