<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!--begin::Sidebar-->
<div id="kt_app_sidebar" class="app-sidebar  flex-column " th:fragment="_sidebar"
     data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}"
     data-kt-drawer-overlay="true" data-kt-drawer-width="225px"
     data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
    <section th:replace="doctor/layout/partials/sidebar/_logo.html :: _logo"></section>
    <!--layout-partial:layout/partials/sidebar/_logo.html-->
    <section th:replace="doctor/layout/partials/sidebar/_menu.html :: _menu"></section>
    <!--layout-partial:layout/partials/sidebar/_menu.html-->
    <!--layout-partial:layout/partials/sidebar/_footer.html-->
</div>
<!--end::Sidebar-->
</body>
