@import url(fonts.css);

#doc-name {
    color: #323232;
    font-family: Zen, Antique, Soft, serif;
}

body {
    background: url('../images/Blocked.png') no-repeat center center fixed;
    -webkit-background-size: cover; /*For Safari*/
    -moz-background-size: cover; /*For Mozilla*/
    background-size: cover;
    -o-background-size: cover; /*For Opera*/
}

input[type='text'] {
    font-family: Poppins, FontAwesome, serif;
    height: 40px;
}

input::placeholder {
    font-family: Poppins, FontAwesome, serif;
}

.mbtn {
    background-color: #494462;
    color: white !important;
}

.mbtn.selected {
    background-color: #857FA7 !important;
}

.numberCircle {
    display: inline-block;
    line-height: 0px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #C5A470;
    font-size: 32px;
}

.numberCircle span {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 8px;
    margin-right: 8px;
    color: white;
}