@font-face {
    font-family: "Zen";
    src: url("../fonts/ZenAntique-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype"),
    url("../fonts/poppins/Poppins-Black.ttf") format("truetype"),
    url("../fonts/poppins/Poppins-Bold.ttf") format("truetype"),
    url("../fonts/poppins/Poppins-ExtraBold.ttf") format("truetype"),
    url("../fonts/poppins/Poppins-ExtraLight.ttf") format("truetype"),
    url("../fonts/poppins/Poppins-Light.ttf") format("truetype"),
    url("../fonts/poppins/Poppins-Medium.ttf") format("truetype"),
    url("../fonts/poppins/Poppins-SemiBold.ttf") format("truetype"),
    url("../fonts/poppins/Poppins-Thin.ttf") format("truetype")
;
}